hr.sumi-rule {
  background: var(--surface-card);
  border-radius: 2px;
  border: none;
  height: 4px;
}
hr.sumi-rule-sm {
  background: var(--surface-border);
  border-radius: 1px;
  border: none;
  height: 2px;
}

div.sumi-pane {
  background: var(--surface-card);
  border-radius: 10px;
  padding: 10px;
}

.sumi-table-headings {
  border-bottom: solid 1px var(--surface-border);
  color: var(--primary-color);
  display: flex;
  font-weight: bold;
  line-height: 0;
  padding: 30px 0 10px 0;
  position: relative;
}
.sumi-table-row {
  border-bottom: solid 1px var(--surface-border);
  display: flex;
  line-height: 0;
  padding: 20px 0;
  position: relative;
}
.sumi-table-row:last-child {
  border: none;
}
.sumi-table-row:hover {
  background: var(--surface-hover);
}
.sumi-table-col {
  position: absolute;
}
