hr.sumi-rule {
  background: var(--surface-card);
  border-radius: 2px;
  border: none;
  height: 4px;
}
hr.sumi-rule-sm {
  background: var(--surface-border);
  border-radius: 1px;
  border: none;
  height: 2px;
}

div.sumi-pane {
  background: var(--surface-card);
  border-radius: 10px;
  padding: 10px;
  width: fit-content;
}
div.sumi-pane > div.sumi-pane {
  background: var(--surface-hover);
  border-radius: 5px;
  border: solid 1px var(--surface-border);
}

.sumi-table-headings {
  border-bottom: solid 1px var(--surface-border);
  display: flex;
  font-weight: bold;
  line-height: 0;
  padding: 30px 0 10px 0;
  position: relative;
}
.sumi-table-row {
  border-bottom: solid 1px var(--surface-border);
  display: flex;
  line-height: 0;
  padding: 20px 0;
  position: relative;
}
.sumi-table-row:hover {
  background: var(--surface-hover);
}
.sumi-table-col {
  position: absolute;
}

.color-heading {
  color: var(--primary-color);
}
.color-muted {
  color: var(--gray-600);
}
.color-total {
  color: var(--green-600);
}
.color-zero {
  color: var(--red-600);
}

.color-specialized {
  color: var(--blue-600);
}
.color-trained {
  color: var(--green-600);
}
.color-untrained {
  color: var(--gray-400);
}
