hr.sumi-rule {
  background: var(--surface-border);
  border-radius: 2px;
  border: none;
  height: 4px;
}
hr.sumi-rule-sm {
  background: var(--surface-border);
  border-radius: 1px;
  border: none;
  height: 2px;
}

div.sumi-pane {
  background: var(--surface-card);
  border-radius: 10px;
  padding: 10px;
}
